*{
  margin: 0;
  padding: 0;
  font-family: 'Prompt', sans-serif;
  color: white;
  text-transform: uppercase;
}

body{
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, 
    rgba(2,0,36, 1) 0%,
    rgba(67, 67, 162,1)47%,
    rgba(0,212,255, 1)100%);

}
nav{
    border: 1px solid;
    display: flex;
    align-items: center;
    height: 80px;
}
nav img{
    height: 60px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgb(2, 0, 36);
    margin: 10px;
}
nav h1{
    font-size: 20px;

}
header{
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    
}
.header-content h2{
    font-size: 50px;
     
}
.header-img img{
    height: 400px ;
    opacity: .7;
    border-radius:73% 27% 53% 47% / 73% 51% 49% 27%;
    animation: movimento 4s infinite alternate;
}

@keyframes movimento{
    0%, 100%{
       border-radius:72% 28% 72% 28% / 62% 80% 20% 38%;       ;  
       box-shadow: 0px 0px 100px white;}
    
    50%{
         border-radius:29% 71% 81% 19% / 84% 37% 63% 16%;
        }
}
section{
    width: 80%;
    margin-top:  150px;
    margin: 0 auto;
}
.apresentaçao{
    display: flex;
    align-items: center;
}
.conte-conosco{
    width: 40%;
}
.conte-conosco h3{
    font-size: 35px;
    line-height: 36px;
    text-align: center;
}
.conte-conosco img{
    height: 70%;
    width: 100%;
    border-radius:24% 76% 49% 51% / 24% 50% 50% 76%;
}
.filosofia{
    width: 60%;

}
.filosofia p{
    font-size: 50px;
    padding: 10px 50px;
    line-height: 45px;
}
.barra{
    height: 2px;
    width: 80%;
    margin: 100px auto;
    background-color: white;
}
.produtos h3{
    font-size: 30px;
    text-align: center;
    letter-spacing: 2px;
    padding: 10px 50px;
    border: 1px solid;
}
.produtos p{
    font-size: 20px;
    margin-top: 30px;
    text-indent: 50px;
    
}
.produtos .banners{
    border: 1px solid;
    display: flex;
    justify-content: space-around;
    
}
.banner{
    border: 1px solid;
    background-color: white;
    margin: 50px;
    width: 30%;
    height: 200px;
    color: black;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;

}

.banner p{
    color: #3d3d97;
    font-size: 16px;
    font-weight: 600px;
    margin: 33px 0px;
   text-align: center;
   padding-right: 50px;
}
.banner .btn{
    color: white;
    background-color: #3d3d97;
    padding: 15px;
    border: none;
    border-radius: 2px;
    cursor: pointer;

}



